<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests" thread-count="3">

	<test name="Test on ie">
		<parameter name="browserName" value="IE"></parameter>

		<classes>
			<class name="utils.MultiBrowser" />
		</classes>
	</test> 
	
	<test name="Test on firefox">
		<parameter name="browserName" value="firefox"></parameter>

		<classes>
			<class name="utils.MultiBrowser" />
		</classes>
	</test> 
	
	<test name="Test on chrome">
		<parameter name="browserName" value="chrome"></parameter>

		<classes>
			<class name="utils.MultiBrowser" />
		</classes>
	</test> 
	
</suite> <!-- Suite -->
